.toolbar {
    max-width: 100vw;
    background-color: var(--white);
    padding: 0.6rem 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    overflow: hidden;
}

.toolbar .buttons-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 0.25rem;
    flex-wrap: wrap;
}

.toolbar .buttons-container .toolbar-section{
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.toolbar .buttons-container .toolbar-section:not(:last-child){
    border-right: 1px solid rgba(0,0,0,0.2);
}

.toolbar .buttons-container .toolbar-section .btn{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 0.35rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.3rem;
    position: relative;
}

.toolbar .buttons-container .toolbar-section .dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: 1px solid rgba(0,0,0,0.2);
}

.toolbar .buttons-container .toolbar-section .dropdown .dropdown-item{
    width: 200px;
    background: none;
    border: none;
    padding: 1.5rem;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toolbar .buttons-container .toolbar-section .dropdown .dropdown-item:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.toolbar .buttons-container .toolbar-section .dropdown .dropdown-item:hover{
   background-color: rgba(0,0,0,0.1);
}

.toolbar .buttons-container .toolbar-section .btn .icon{
    height: calc(24px - .5rem);
}

.toolbar .buttons-container .toolbar-section .btn:hover{
    background-color: rgba(0,0,0,0.1);
}

.toolbar .buttons-container .toolbar-section .btn::before{
    content: "";
    width: 0; 
    height: 0; 
    border-left: 0.45rem solid transparent;
    border-right: 0.45rem solid transparent;
    border-bottom: 0.45rem solid rgba(0,0,0,0.75);
    position: absolute;
    top: 100%;
    transition: opacity;
    opacity: 0;
    pointer-events: none;
}

.toolbar .buttons-container .toolbar-section .btn::after{
    content: attr(data-tooltip);
    padding: 0.4rem;
    color: var(--white);
    font-size: 13px;
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    top: calc(100% + 0.45rem);
    white-space: nowrap;
    transition: opacity;
    opacity: 0;
    pointer-events: none;
}

.toolbar .buttons-container .toolbar-section .btn:hover::after,
.toolbar .buttons-container .toolbar-section .btn:hover::before{
    transition-delay: 400ms;
    opacity: 1;
}