.text-editor{
    width: 100%;
    overflow: hidden;
    background-color: var(--bg);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.text-editor .page{
    line-height: 1.25;
    width: 8.5in;
    min-height: 11in;
    background-color: white;
    padding: 1in;
    outline: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 600px) {
    /* styles for browsers smaller than 600px; */
    .text-editor .page{
        padding: .75in;
    }
    @page{
        margin: .75in;
    }
}

@media only screen and (max-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .text-editor .page{
        padding: .5in;
    }
    @page{
        margin: .5in;
    }
}

@page {
    margin: 1in;
}

@media print{
    body, .text-editor{
        background: none;
    }

    .text-editor .page{
        width: 6.5in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
    }

    .toolbar{
        display: none;
    }
}